:root {
  --lib-primary: #007bff;
  --lib-text: #333;
  --lib-font-family: sans-serif;
}

h3, p, body, span {
  font-family: var(--lib-font-family);
  color: var(--lib-text);
}

button {
  background-color: var(--lib-primary);
  color: var(--lib-text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

iframe {
  border: none;
  display: block;
  height: 100px;
}